html {
  height: 100%;
  background-color: #ccc;
  margin: 0px auto;
}

@font-face {
  height: 100%;

  font-family: GothamNarrowBook;
  src: url(public/fonts/GothamNarrow-Book.otf);
}

body {
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

input[type="text"]:disabled {
  cursor: not-allowed;
}

p {
  line-height: 1.5em;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------- LOGIN ---------- */

#login form {
  width: 250px;
}

#login, .logo {
  display: flex;
  width:40%;
}

#login {
  border-right:1px solid #fff;
  width: 59%;
  justify-content: center;

}

.logo {
  color:#fff;
  font-size:50px;
  line-height: 125px;
  padding: 0 22px;
}

#login form span.fa {
  background-color: #fff;
border-radius: 3px 0px 0px 3px;
color: #000;
display: block;
float: left;
height: 50px;
font-size:24px;
line-height: 50px;
text-align: center;
width: 50px;
}

#login form input {
  height: 50px;
}

#login form input[type="text"], 
#login form input[type="password"] {
  background-color: #fff;
  border-radius: 0px 3px 3px 0px;
  color: #000;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 200px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  background-color: #000000;
  color: #eee;
  font-weight: bold;
  padding: 5px 10px;
  height: 30px;
}

#login form input[type="submit"]:hover {
  background-color: #d44179;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}

#login form span.fa {
  border-right: 1px solid #ccc;
}

.middle {
  display: flex;
}

/* ---------- HEADER ---------- */
.header {
  display: flex;
  background-color: white;
  min-height: 60px;
  padding: 0 15px;
  z-index: 1002;
  border-bottom: 1px solid #f1f2f7;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.header nav div:first-of-type {
  cursor: pointer;
}

.header-logo {
  font-weight: 400;
}

a.header-logo {
  align-items: center;
  font-size: 21px;
  color: #2e2e2e;
}

a.header-logo span {
  color: #FF6C60;
}

/* ---------- SIDEBAR ---------- */
#sidebar {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  height: calc(100vh - 60px);
  overflow: hidden;
  background-color: #2a3542;
  z-index: 1000;
}

.navbar-nav .panel {
  border: 0 none;
  box-shadow: none;
  margin: 0;
  background: inherit;
}

#sidebar li a {
  padding: 15px;
  color: #5f5f5f;
}

#sidebar li a .fa {
  margin-right: 8px;
  font-size: 16px;
  font-weight: 300;
}

#sidebar ul {
  padding: 10px 5px;
}

#sidebar ul li {
  display: block;
  position: relative;
}

.active,
#sidebar ul li a:hover {
  color: #FF6C60; 
  text-decoration: none;
}

#sidebar ul li.active i {
  transform: rotate(90deg);
}

#sidebar ul li::before {
  clear: both;
  content: "";
  display: table;
}

#sidebar ul li a{
  color: white;
  padding: 10px 25px;
  display: block;
  vertical-align: middle;
}

#sidebar ul li a:hover {
  text-decoration: none;
}

.grid-button-group {
  align-self: flex-end;
}

.grid-button-group i {
  margin-right: 5px;
}

.table-container {
  flex: 1;
  margin: 12px 16px;
}

.form-container {
  flex: 1;
  margin: 12px 16px;
}

.error {
  font-family: "Lato", sans-serif;
  color: #888888;
  margin: 0;
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.errorContent {
  display: table-cell;
  vertical-align: middle;
}
.errorContent h1 {
  font-size: 70px;
  display: inline-block;
  padding-right: 12px;
  margin: 0;
}
.errorContent p {
  font-size: 20px;
  margin-bottom: 30px;
}
.errorContent a {
  font-size: 17px;
  color: deepskyblue;
}