<div id="sidebar" class="collapse in" data-toggle="collapse">
  <ul class="nav navbar-nav nav-collapse">
    
    <!-- Atestaş -->
    <li class="panel panel-default" id="dropdown">
      <a data-toggle="collapse" href="#atestas">
        <i class="fa fa-angle-right"></i> Atestaş
      </a>
      <div id="atestas" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="nav navbar-nav">
            <li class="panel panel-default" id="dropdown">
              <a data-toggle="collapse" href="#vehicleOperations">
                <i class="fa fa-angle-right"></i> Araç Giriş/Çıkış İşlemleri
              </a>
              <div id="vehicleOperations" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="nav navbar-nav">
                    <li><a href="/vehicle/add"><i class="fa fa-circle" ></i> Araç Girişi</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="panel panel-default" id="dropdown">
              <a data-toggle="collapse" href="#parkingLotOperations">
                <i class="fa fa-angle-right"></i> Otopark İşlemleri
              </a>
              <div id="parkingLotOperations" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="nav navbar-nav">
                    <li><a href="/parkinglot/add"><i class="fa fa-circle"></i> Otopark Ekle</a></li>
                    <li><a href="/parkinglot/list"><i class="fa fa-circle"></i> Otopark Listele</a></li>
                  </ul>
                </div>
              </div>
            </li>
            
            <li class="panel panel-default" id="dropdown">
              <a data-toggle="collapse" href="#carTypeOperations">
                <i class="fa fa-angle-right"></i> Araç Tipi İşlemleri
              </a>
              <div id="carTypeOperations" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="nav navbar-nav">
                    <li><a href="/vehicletype/add"><i class="fa fa-circle" ></i> Arac Tipi Ekle</a></li>
                    <li><a href="/vehicletype/list"><i class="fa fa-circle"></i> Arac Tipi Listele</a></li>
                  </ul>
                </div>
              </div>
            </li>

          <li class="panel panel-default" id="dropdown">
              <a data-toggle="collapse" href="#enforcementoffice">
                <i class="fa fa-angle-right"></i> İcra Kurumu İşlemleri
              </a>
              <div id="enforcementoffice" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="nav navbar-nav">
                    <li><a href="/enforcementoffice/add"><i class="fa fa-circle" ></i> İcra Kurumu Ekle</a></li>
                    <li><a href="/enforcementoffice/list"><i class="fa fa-circle"></i> İcra Kurumu Listele</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="panel panel-default" id="dropdown">
              <a data-toggle="collapse" href="#discount">
                <i class="fa fa-angle-right"></i> İndirim İşlemleri
              </a>
              <div id="discount" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="nav navbar-nav">
                    <li><a href="/discount/add"><i class="fa fa-circle" ></i> İndirim Ekle</a></li>
                    <li><a href="/discount/list"><i class="fa fa-circle"></i> İndirim Listele</a></li>
                  </ul>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </li>

    <!-- Raporlar -->
    <li class="panel panel-default" id="dropdown">
      <a data-toggle="collapse" href="#reports">
        <i class="fa fa-angle-right"></i> Raporlar
      </a>
    </li>

    <!-- Teknik Yönetim -->
    <li class="panel panel-default" id="dropdown">
      <a data-toggle="collapse" href="#technicalManagement">
        <i class="fa fa-angle-right"></i> Teknik Yönetim
      </a>

      <div id="technicalManagement" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="nav navbar-nav">

            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#userOperations">
                  <i class="fa fa-angle-right"></i> Personel İşlemleri
                </a>
                <div id="userOperations" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="nav navbar-nav">
                      <li><a href="/user/add"><i class="fa fa-circle"></i> Personel Ekle</a></li>
                      <li><a href="/user/list"><i class="fa fa-circle"></i> Personel Listele</a></li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#roleOperations">
                  <i class="fa fa-angle-right"></i> Profil İşlemleri
                </a>
                <div id="roleOperations" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="nav navbar-nav">
                      <li><a href="/role/add"><i class="fa fa-circle"></i> Profil Ekle</a></li>
                      <li><a href="/role/list"><i class="fa fa-circle"></i> Profil Listele</a></li>
                    </ul>
                  </div>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>

<script>
  $('#sidebar .navbar-nav li a').on('click', function () {
    $('#sidebar .navbar-nav').find('li.active').removeClass('active');
    $(this).parent('li').addClass('active');
  });
</script>
