<div id="sidebar" class="collapse in" data-toggle="collapse">
  <ul class="nav navbar-nav nav-collapse">

    <!-- Atestaş -->
  {{#isUserCompetencyIncludes competencyList.ATESTAS session.userCompetencyList}}
    <li class="panel panel-default" id="dropdown">
      <a data-toggle="collapse" href="#atestas">
        <i class="fas fa-angle-right"></i> Atestaş
      </a>
      <div id="atestas" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="nav navbar-nav">

            {{#isUserCompetencyIncludes ../competencyList.ARAC_GIRIS_CIKIS_ISLEMLERI ../session.userCompetencyList}}
            <li class="panel panel-default" id="dropdown">
              <a data-toggle="collapse" href="#vehicleOperations">
                <i class="fas fa-angle-right"></i> Araç Giriş/Çıkış İşlemleri
              </a>
              <div id="vehicleOperations" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="nav navbar-nav">
                    <li><a href="/vehicle/add"><i class="fas fa-circle"></i> Araç Girişi</a></li>
                    <li><a href="/vehicle/search"><i class="fas fa-circle"></i> Araç Çıkışı</a></li>
                  </ul>
                </div>
              </div>
            </li>
            {{/isUserCompetencyIncludes}}
            {{#isUserCompetencyIncludes ../competencyList.OTOPARK_ISLEMLERI ../session.userCompetencyList}}
            <li class="panel panel-default" id="dropdown">
              <a data-toggle="collapse" href="#parkingLotOperations">
                <i class="fas fa-angle-right"></i> Otopark İşlemleri
              </a>
              <div id="parkingLotOperations" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="nav navbar-nav">
                    <li><a href="/parkinglot/add"><i class="fas fa-circle"></i> Otopark Ekle</a></li>
                    <li><a href="/parkinglot/list"><i class="fas fa-circle"></i> Otopark Listele</a></li>
                  </ul>
                </div>
              </div>
            </li>
            {{/isUserCompetencyIncludes}}
            {{#isUserCompetencyIncludes ../competencyList.ARAC_TIPI_ISLEMLERI ../session.userCompetencyList}}
            <li class="panel panel-default" id="dropdown">
              <a data-toggle="collapse" href="#carTypeOperations">
                <i class="fas fa-angle-right"></i> Araç Tipi İşlemleri
              </a>
              <div id="carTypeOperations" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="nav navbar-nav">
                    <li><a href="/vehicletype/add"><i class="fas fa-circle"></i> Arac Tipi Ekle</a></li>
                    <li><a href="/vehicletype/list"><i class="fas fa-circle"></i> Arac Tipi Listele</a></li>
                  </ul>
                </div>
              </div>
            </li>
            {{/isUserCompetencyIncludes}}
            {{#isUserCompetencyIncludes ../competencyList.ICRA_KURUMU_TURLERI_ISLEMLERI ../session.userCompetencyList}}
            <li class="panel panel-default" id="dropdown">
              <a data-toggle="collapse" href="#enforcementoffice">
                <i class="fas fa-angle-right"></i> İcra Kurumu İşlemleri
              </a>
              <div id="enforcementoffice" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="nav navbar-nav">
                    <li><a href="/enforcementoffice/add"><i class="fas fa-circle"></i> İcra Kurumu Ekle</a></li>
                    <li><a href="/enforcementoffice/list"><i class="fas fa-circle"></i> İcra Kurumu Listele</a></li>
                  </ul>
                </div>
              </div>
            </li>
            {{/isUserCompetencyIncludes}}
            {{#isUserCompetencyIncludes ../competencyList.EK_UCRET_ISLEMLERI ../session.userCompetencyList}}
            <li class="panel panel-default" id="dropdown">
              <a data-toggle="collapse" href="#additionalfee">
                <i class="fas fa-angle-right"></i> Ek Ücret İşlemleri
              </a>
              <div id="additionalfee" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="nav navbar-nav">
                    <li><a href="/additionalfee/add"><i class="fas fa-circle"></i> Ek Ücret Ekle</a></li>
                    <li><a href="/additionalfee/list"><i class="fas fa-circle"></i> Ek Ücret Listele</a></li>
                  </ul>
                </div>
              </div>
            </li>
            {{/isUserCompetencyIncludes}}
            {{#isUserCompetencyIncludes ../competencyList.INDIRIM_ISLEMLERI ../session.userCompetencyList}}
            <li class="panel panel-default" id="dropdown">
              <a data-toggle="collapse" href="#discount">
                <i class="fas fa-angle-right"></i> İndirim İşlemleri
              </a>
              <div id="discount" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="nav navbar-nav">
                    <li><a href="/discount/add"><i class="fas fa-circle"></i> İndirim Ekle</a></li>
                    <li><a href="/discount/list"><i class="fas fa-circle"></i> İndirim Listele</a></li>
                  </ul>
                </div>
              </div>
            </li>
            {{/isUserCompetencyIncludes}}
          </ul>
        </div>
      </div>
    </li>
  {{/isUserCompetencyIncludes}}

  {{#isUserCompetencyIncludes competencyList.RAPORLAR session.userCompetencyList}}
    <!-- Raporlar -->
    <li class="panel panel-default" id="dropdown">
      <a data-toggle="collapse" href="#reports">
        <i class="fas fa-angle-right"></i> Raporlar
      </a>
    </li>
  {{/isUserCompetencyIncludes}}

  {{#isUserCompetencyIncludes competencyList.TEKNIK_YONETIM session.userCompetencyList}}
    <!-- Teknik Yönetim -->
    <li class="panel panel-default" id="dropdown">
      <a data-toggle="collapse" href="#technicalManagement">
        <i class="fas fa-angle-right"></i> Teknik Yönetim
      </a>

      <div id="technicalManagement" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="nav navbar-nav">

            {{#isUserCompetencyIncludes ../competencyList.PERSONEL_ISLEMLERI ../session.userCompetencyList}}
            <li class="panel panel-default" id="dropdown">
              <a data-toggle="collapse" href="#userOperations">
                <i class="fas fa-angle-right"></i> Personel İşlemleri
              </a>
              <div id="userOperations" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="nav navbar-nav">
                    <li><a href="/user/add"><i class="fas fa-circle"></i> Personel Ekle</a></li>
                    <li><a href="/user/list"><i class="fas fa-circle"></i> Personel Listele</a></li>
                  </ul>
                </div>
              </div>
            </li>
            {{/isUserCompetencyIncludes}}
            {{#isUserCompetencyIncludes ../competencyList.PROFIL_ISLEMLERI ../session.userCompetencyList}}
            <li class="panel panel-default" id="dropdown">
              <a data-toggle="collapse" href="#roleOperations">
                <i class="fas fa-angle-right"></i> Profil İşlemleri
              </a>
              <div id="roleOperations" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="nav navbar-nav">
                    <li><a href="/role/add"><i class="fas fa-circle"></i> Profil Ekle</a></li>
                    <li><a href="/role/list"><i class="fas fa-circle"></i> Profil Listele</a></li>
                  </ul>
                </div>
              </div>
            </li>
            {{/isUserCompetencyIncludes}}
            {{#isUserCompetencyIncludes ../competencyList.CEKICI_FIRMA_ISLEMLERI ../session.userCompetencyList}}
            <li class="panel panel-default" id="dropdown">
              <a data-toggle="collapse" href="#towfirm">
                <i class="fas fa-angle-right"></i> Çekici Firma
              </a>
              <div id="towfirm" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="nav navbar-nav">
                    <li><a href="/towfirm/add"><i class="fas fa-circle"></i> Firma Ekle</a></li>
                    <li><a href="/towfirm/list"><i class="fas fa-circle"></i> Firma Listele</a></li>
                  </ul>
                </div>
              </div>
            </li>
            {{/isUserCompetencyIncludes}}
          </ul>
        </div>
      </div>
    </li>
  {{/isUserCompetencyIncludes}}

  </ul>
</div>

<script>
  $('#sidebar .navbar-nav li a').on('click', function () {
    $('#sidebar .navbar-nav').find('li.active').removeClass('active');
    $(this).parent('li').addClass('active');
  });
</script>