<div>
  <form class="text-center border border-light" action="/competency/add" method="POST"> 
    <p class="h4 mb-4">Yetkinlik Ekle</p>
    
    <div class="form-group" data-validate="Yetkinlik açıklamasını yaziniz">
      <label>YETKINLIK AÇIKLAMASI</label>
      <input class="form-control" type="text" name="description" placeholder="Yetkinlik Açıklaması">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>