<div style="display: flex;flex-grow: 1;">
  <div class="form-container">
    <form class="border border-light" action="/user/add" method="POST">
      <div class="form-inside-container">
          <label class="col-form-label">Rol</label>
          <select class="browser-default custom-select" name="roleId">
            {{#each userRole}}
              <option value="{{this.id}}">{{this.role}}</option>
            {{/each}}
          </select>
      
          <label class="col-form-label">Adı</label>
          <input type="text" class="form-control" name="name" placeholder="">

          <label class="col-form-label">Soyadı</label>
          <input type="text" class="form-control" name="surname" placeholder="">

          <label class="col-form-label">Kullanıcı Adı</label>
          <input type="text" class="form-control" name="username" placeholder="">
        
          <label class="col-form-label">Email</label>
          <input type="text" class="form-control" name="email" placeholder="">

          <label class="col-form-label">Şifre</label>
          <input type="password" class="form-control" name="password" placeholder="">
      </div>
      
      <div class="form-group">
          <button type="button" class="btn-info"><i class="fa fa-refresh"></i>Sıfırla</button>
          <button type="submit" class="btn-success"><i class="fa fa-save"></i>Ekle</button>
      </div>

    </form>
  </div>
</div>