<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Adı</th>
    <th scope="col">Tipi</th>
  </tr>
  </thead>
  <tbody>
  {{#each parkinglot}}
    <tr class="">
      <td class="column1"> {{@index}}</td>
      <td class="column2"> {{this.description}} </td>
      <td class="column3"> {{this.[PARKING_TYPE.description]}} </td>
    </tr>
  {{/each}}
  </tbody>
</table>