<div class="table-container">
  <table class="table table-striped">
    {{> components/showMessage }}
    <header class="form-navigation">
      <a href="/role/add"><i class="fas fa-plus"></i> Ekle</a>
      <span>Profil İşlemleri</span>
    </header>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {{#each userRoleList}}
      <tr>
        <td class="column1"> {{incrementByOne @index}}</td>
        <td class="column2"> {{this.role}} </td>
        <td class="column3" style="text-align:center; width:85px;">
          <a href="/role/update/{{this.id}}">
            <i class="far fa-edit fa-sm btn btn-success" aria-hidden="true" ></i>
          </a>
          <a href="/role/delete/{{this.id}}" onclick="return confirm('Silmek istediğinize emin misiniz ?');">
            <i class="fas fa-trash fa-sm btn btn-danger" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

</div>