<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Yetkinlik</th>
  </tr>
  </thead>
  <tbody>
  {{#each competencies}}
    <tr class="">
      <td class="column1"> {{@index}}</td>
      <td class="column2"> {{this.description}} </td>
      <td>
        <a href="/competency/delete/{{this.id}}" onclick="return confirm('Are you sure to delete this record?');">
            <i class="fa fa-trash fa-lg" style="color: crimson;" aria-hidden="true">                     
            </i>
        </a>
    </td>
    </tr>
  {{/each}}
  </tbody>
</table>