<div class="container d-flex">
  <div class="middle d-flex">
    <div id="login">
      <form action="/login" method="POST">
        <fieldset>
          {{#if isCredentialsInvalid}}
            <div class="alert alert-danger" role="alert">
              Kullanıcı adı veya şifre hatalı!
            </div>
          {{/if}}
          <p>
            <span class="fa fa-user"></span>
            <input type="text" name="username" Placeholder="Kullanıcı Adı" required 
              oninvalid="this.setCustomValidity('Lütfen kullanıcı adınızı girin.')"
              oninput="setCustomValidity('')">
          </p>
          <p>
            <span class="fa fa-lock"></span>
            <input type="password" name="password" Placeholder="Şifre" required
              oninvalid="this.setCustomValidity('Lütfen şifrenizi girin.')"
              oninput="setCustomValidity('')">
          </p>
          <div>
            <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">Şifremi Unuttum</a></span>
            <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Giriş Yap"></span>
          </div>
        </fieldset>
      </form>

    </div> <!-- end login -->
    <div class="logo">
      WINDESK
    </div>
  </div>
</div>
