<div class="container d-flex">
  <div class="middle d-flex">
    <div id="login">
      <form action="/login" method="POST">
        <fieldset>
          <p>
            <span class="fa fa-user"></span>
            <input type="text" name="username" Placeholder="Kullanıcı Adı" required pattern=".*\S+.*"
              oninvalid="this.setCustomValidity('Lütfen kullanıcı adınızı girin.')"
              oninput="setCustomValidity('')">
          </p>
          <p>
            <span class="fa fa-lock"></span>
            <input type="password" name="password" Placeholder="Şifre" required
              oninvalid="this.setCustomValidity('Lütfen şifrenizi girin.')"
              oninput="setCustomValidity('')">
          </p>

          {{> components/showMessage }}

          <div class="login-buttons-align">
              <a class="small-text" data-toggle="modal" data-target="#forgotPassword">Şifremi Unuttum</a>
              <input type="submit" value="Giriş Yap">
          </div>

          <div class="modal" id="forgotPassword">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Yeni Şifre Talebi</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group">
                          <span class="fa fa-envelope"></span>
                          <input name="" class="form-control input-lg" placeholder="E-mail Adresiniz">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light" data-dismiss="modal">İptal</button>
                  <button type="button" class="btn btn-primary">Talep Et</button>
                </div>
              </div>
            </div>
          </div>
          
        </fieldset>
      </form>

    </div> <!-- end login -->
    <div class="logo">
      WINDESK
    </div>
  </div>
</div>
