<div class="outer-container">
  <div class="table-container" style="padding-bottom: 24px; border-radius: 20px 20px;">

    <header class="form-navigation">
      <span>
        <h3>Otopark Yönetim Sistemi'ne Hoşgeldiniz</h3>
      </span>
    </header>
    <span style="display: flex; justify-content: center;  margin: 48px 24px; color: #17a2b8">
      <i style="margin-right: 5px;" class="fas fa-bullhorn fa-2x"></i>
      <h3>Güncel Duyurular</h3>
    </span>
    <div>
      {{#each announcementList}}
        {{#if this.isActive}}
          <div style="margin: 22px; padding: 5px; font-size: 16px;">
            <h4 style="color: #78CD51"> {{this.title}} </h4>
            <h5> {{this.content}} </h5>
          </div>
        {{/if}}
      {{/each}}
    </div>

    
  </div>
</div>