<div class="outer-container">
  <div class="partial-container">
    <div class="form-container">
      {{> components/showMessage }}
        <header class="form-navigation">
          <div class="d-flex align-items-center">
            <span><i class="fas fa-angle-right fa-2x"></i></span>
            <a class="form-navigation-active" style="color: #17a2b8;" href="">
                <i class="fas fa-plus"></i>Ekle
            </a>
            <a class="form-navigation-passive" href="/annualleave/list">
              <i class="fas fa-list"></i> Listele
            </a>
          </div>
          <span>Yıllık İzin İstek İşlemleri</span>
      </header>
      <form class="border border-light" action="/annualleave/request" method="POST">
        <div class="form-group row row-cols-3">
          <div class="col">
            <label class="col-form-label">Kişi</label>
            <input name="user" type="text" class="form-control">
          </div>
          <div class="col">
            <label class="col-form-label">İzin Günü</label>
             <input name="numberOfDays" type="text" class="form-control">
          </div>
          <div class="col">
            <label class="col-form-label">İzin Tipi</label>
            <input class="form-control" name="type" id="type" type="text" value="Yıllık İzin" readonly>
          </div>
          </div>
        <div class="form-group row row-cols-3">
          <div class="col">
            <label class="col-form-label">İzin Başlangıç Tarihi</label>
            <div class="input-group-prepend">
              <span class="input-group-text date-icon-border"><i class="far fa-calendar-alt"></i></span>
            <input class="form-control date" name="startDate" id="startDate" type="text" >
            </div>
          </div>
          <div class="col">
            <label class="col-form-label">İzin Bitiş Tarihi</label>
            <div class="input-group-prepend">
              <span class="input-group-text date-icon-border"><i class="far fa-calendar-alt"></i></span>
            <input class="form-control date" name="endDate" id="endDate" type="text">
            </div>
          </div>
          <div class="col">
          </div>
        </div>
        <div class="form-group row row-cols-2" >
            <div class="col mr-auto">
            </div>
            <div class="col-auto grid-button-group">
                <button type="button submit" class="btn btn-success btn-sm"><i class="fas fa-save"></i>İstek Gönder</button>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>  
<script>
  $('.date').datepicker({
    language: "tr",
    format: "yyyy-mm-dd",
    autoclose: true,
    todayHighlight: true,
    orientation: "bottom left"
  });
</script>