<div id="sidebar">
  <ul class="nav navbar-nav">

    <li><a href="#"><i class="fa fa-angle-right"></i> Ateştaş</a></li>
    <li><a href="#"><i class="fa fa-angle-right"></i> Raporlar</a></li>
    <li><a href="/parkinglot/add"><i class="fa fa-angle-right"></i> Otopark Ekle</a></li>
    <li><a href="/parkinglot/list"><i class="fa fa-angle-right"></i> Otopark Listele</a></li>
    <li><a href="/competency/add"><i class="fa fa-angle-right"></i> Yetkinlik Ekle</a></li>
    <li><a href="/competency/list"><i class="fa fa-angle-right"></i> Yetkinlik Listele</a></li>
    <li><a href="/role/add"><i class="fa fa-angle-right"></i> Role Ekle</a></li>
    <li><a href="/role/list"><i class="fa fa-angle-right"></i> Role Listele</a></li>
    <li><a href="#"><i class="fa fa-angle-right"></i> Teknik Yönetim</a></li>

    <!-- Dropdown-->
    <li class="panel panel-default" id="dropdown">
      <a data-toggle="collapse" href="#dropdown-lvl1">
        <i class="fa fa-angle-right"></i> submenulu olan li
      </a>
      <!-- Dropdown level 1 -->
      <div id="dropdown-lvl1" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="nav navbar-nav">
            <li><a href="#">Elma</a></li>
            <li><a href="#">Armut</a></li>
            <li><a href="#">Seftali</a></li>
            <li><a href="#">Karpuz</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li><a href="#"><span class="fa fa-angle-right"></span> Link</a></li>
  </ul>
  <script>
    $('#sidebar .navbar-nav li a').on('click', function () {
      $('#sidebar .navbar-nav').find('li.active').removeClass('active');
      $(this).parent('li').addClass('active');
    })  
  </script>
</div>


