<%- include('../common/header') %>
<%if (result.success) { %>
<div class="alert alert-success" role="alert">
    <%= result.message %>
</div>
<% } else { %>
<div class="alert alert-danger" role="alert">
    <%= result.message %>
<% } %>

<%- include('../common/footer') %>