<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Vehicle image cap">
    <div class="card-body">
      <h1 class="card-title"><%licensePlate%> </h1>
      <h2 class="card-text"><%engineNo%></h2>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="/" class="card-link"><%trusteeNo%></a>
      <a href="/" class="card-link">Another link</a>
    </div>
  </div>